
/* Background Video */
.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover; 
    z-index: -1; 
}
/* Title and Description - Positioned at the top */
.header-container {
    position: absolute;
    top: 10%;
    width: 100%;
    text-align: center;
   
}

.header-container h1 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
    color:  white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.header-container p {
    font-size: 20px;
    font-weight: bold;
   color:white;
   text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

/* Form Container - Centered */
.form-container {
    position: absolute;  
    top: 50%;           
    left: 50%;           
    transform: translate(-50%, -50%); 
    background: rgba(0, 0, 0, 0.5); 
    border: 1px solid  #ff6600;
    box-shadow: 0 2px 6px #938b88; 
    backdrop-filter: blur(10px); 
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    width: 450px;
    max-width: 90%;
    color: white; 
}


/* Input Fields */
input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.2);
    color: white;
}

input::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

/* Buttons */
button {
    background: #ff6600;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background:white; 
    color:  #ff6600;
}

/* Sign-up link */
p a {
    color: #ffffff;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}
