

/* Responsive Design for Smaller Screens */
@media screen and (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        background: #111;
        position: absolute;
        top: 60px;
        right: 0;
        width: 150px;
        text-align: center;
        padding: 10px;
        border-radius: 5px;
    }

    .nav-links.show {
        display: flex;
    }

    .nav-links li {
        padding: 10px;
    }

   
}